/* Responsividade */
@media(max-width: 1045px){
    #titulo {
        margin-left: 12%;
    }
    #logo {
        width: 20%;
        height: 15vh;
        margin: 2% 0;
    }

    .painel {
        width: 50%;
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #titulo {
        margin-left: 0;
    }

    #logo {
        width: 70%;
        height: auto;
        margin: 2% 0;
    }

    .painel {
        width: 90%;
    }

    img {
        width: 30%;
    }

    #botao {
        padding: 1% 2%;
        height: 15vh;
        width: 40%;
    }
}
